<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form表单</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<!-- 数据的双向绑定 -->
		<p>input中数据是。。。{{message1}}</p>
		<input type="text" v-model="message1" placeholder="text">

		<p>textarea中的数据是。。{{message2}}</p>
		<input type="textarea" v-model="message2" placeholder="textarea">

		<p>复选框的双向绑定</p>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{checked}}</label>

		<p>多个复选框的值</p>
		<input type="checkbox" id="apple" value="apple" v-model="checkedName">
		<label for="apple">apple</label>
		<input type="checkbox" id="banana" value="banana" v-model="checkedName">
		<label for="banana">banana</label>
		<input type="checkbox" id="pear" value="pear" v-model="checkedName">
		<label for="pear">pear</label>

		<p>{{checkedName}}</p>
	
		<!--check input如果有value则表示绑定的是value的值，如果没有则表示绑定了当前inputde选择状态 true OR false。 -->
	
		<!-- 单选框的双向绑定 -->

		<input type="radio" id="dog" value="dog" v-model="selected">
		<label for="dog">dog</label>
		<input type="radio" id="cat" value="cat" v-model="selected">
		<label for="cat">cat</label>	
		
		<p>{{selected}}</p>


		</br>

		<p>下拉列表的双向绑定</p>
		<select name="sites" id="" v-model="site">
			<option value="">请选择一个网站</option>
			<option value="baidu">www.baidu.com</option>
			<option value="taobao">www.taobao.com</option>
			<option value="tianmao">www.tianmao.com</option>
		</select>
		
		<p>选择的网站是：{{site}}</p>
	</div>	


	<script type="text/javascript">
		var vm = new Vue({
			el:"#app",
			data:{
				message1:"textData",
				message2:"textareaData"

				,checked:false
				checkedName:[],
				selected:"cat",
				site:'',
			}
		})
	</script>
</body>
</html>